
.emergency-button-container{
    background-color:#C2231E;
    color:#ffffff;
    font-weight:bold;
    font-size:22px;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
    border:0px;
    width:200px;
    height:60px;
    position: fixed;   
    bottom: 30px;      
    right: 20px;  
}
.emergency-logo{
    color:#ffff;
    margin-right:10px;
    font-size:26px;
}